
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
}

.active {
    display: block;
    
}

.slide img {
    width: 300px;
    height: auto;
    
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 9px ;
    z-index: 0;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@media (min-width: 768px) {
    .carousel {
        position: relative;
        width: 70%; /* Reduciendo el ancho del carrusel para que no ocupe toda la pantalla */
        margin: 0 auto; /* Centrando horizontalmente */
        overflow: hidden;
        padding: 20px 0;
    }
    
    .slide {
        display: none;
        width: 100%;
    }
    
    .active {
        display: block;
    }
    
    .slide img {
        width: 100%; /* Haciendo que las imágenes ocupen el 100% del ancho del carrusel */
        height: auto;
    }
    
    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-20%);
    }    
}