
.inicio{
    color: #232324;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

h2{
    margin: 12px 0;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.video-container {
    position: relative; 
    width: 100%; 
    
}

.video-container  .vid1 video {
    width: 100%; 
    height: auto; 
    top:0;
}

 .vid2 video{
    display: none;
}

@media (min-width: 600px) {
    .vid1 video{
        display: none;
    }

    .video-container{
        margin: 3rem 0;
    }

    .vid2 video {
        display: flex;
        width: 100%; 
        height: 600px; 
    }
}


.carousel,
.redes h2{
    color: rgb(144, 50, 233);
}

.section{
    display: block;
}

.participar{
    margin: 2.9rem 2rem ;
    padding: 9px;
    border: 1px solid #080616;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.participar:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}


.par{
    margin: 2rem auto 0;
    
}

.par a{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin: .7rem .4rem;
}

a:hover{
    transition: .7s;
    color: #be0a0a;
}


.imagen{
    margin: 4rem auto;
}

.imagen img{
    margin: 22px 0;
    max-width: 250px;
    height: auto;
} 

.carousel a{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin: .7rem;
}


.carousel,
.sorteo,
.redes{
    margin: 2.9rem auto 0;
    padding: 12px 6px;
    width: 100%;
    
}


.sorteo p{
    font-weight: 600;
    padding: 2px 7px;
    font-size: .9rem;
    color: rgb(224, 28, 28);
}


.iconos i{
    font-size: 2.5rem;
    margin: 1.8rem 2rem 0px;
}

.fa-instagram {
    color: #b43a3a; 
}


.fa-facebook {
    color: #3b5998; /
}


@media (min-width: 800px) {
    .inicio {
        margin: 3.2rem auto;
    }

    h2 {
        font-size: 2rem;
    }


    .section {
        display: flex; 
        justify-content: center;
    }
    
    .participar{
        padding: 2.9rem 2rem;
        margin: 4rem 7rem;
    }
    
    .par a
    {
        margin: 1rem; 
    }
    

    .carousel,
    .sorteo,
    .redes {
        margin: 2.9rem auto ;
        padding: 12px 0;
    }

    .sorteo p {
        padding: 2px 0;
        font-size: 1rem;
    }

    .iconos i {
        font-size: 3rem;
        margin: 1.8rem 4.2rem 0;
    }
}
