
.inicio{
    color: #232324;
    text-align: center;
    margin: 2.7rem auto; 
    cursor: pointer;
}

h2{
    margin: 12px 0;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.img-container {
    text-align: center; 
    margin: 2rem auto; 
}

.img-container img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}

/* Media query para dispositivos móviles */
@media (max-width: 600px) {
    .img-container {
        margin: 1rem auto; /
    }
}



.carousel,
.redes h2{
    color: rgb(144, 50, 233);
}

.section{
    display: block;
    margin: 2rem 0;
}

.participar{
    margin: 2.9rem 2rem ;
    padding: 0 12px;
    border: 1px solid #080616;
    border-radius: 9px;
    background-color: #f8eded;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.participar:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}


.par{
    margin: 2rem auto 0;
    
}

.par a{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin: .7rem .4rem;
    color: #181717;
}

a:hover{
    transition: .7s;
    color: #be0a0a;
}


.imagen{
    margin: 4rem auto;
}

.imagen img{
    margin: 22px 0;
    max-width: 200px;
    height: auto;
} 

.carousel a{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin: .7rem;
}


.carousel,
.sorteo,
.redes{
    margin: 2.9rem auto 0;
    padding: 12px 6px;
    width: 100%;
    
}


.sorteo p{
    font-weight: 600;
    padding: 2px 7px;
    font-size: .9rem;
    color: rgb(224, 28, 28);
}


.iconos i{
    font-size: 2.5rem;
    margin: 1rem 2rem 0;
}

.fa-instagram {
    color: #b43a3a; 
}


.fa-facebook {
    color: #3b5998; /
}


@media (min-width: 800px) {
    .inicio {
        margin: 3.2rem auto;
    }

    h2 {
        font-size: 2rem;
    }


    .section {
        display: flex; 
        justify-content: center;
    }
    
    .participar{
        padding: 2rem 2rem;
        margin: 4rem 7rem;
    }
    
    .par a
    {
        margin: 1rem; 
    }
    

    .carousel,
    .sorteo,
    .redes {
        margin: 2.9rem auto ;
        padding: 12px 0;
    }

    .sorteo p {
        padding: 2px 0;
        font-size: 1rem;
    }

    .iconos i {
        font-size: 3rem;
        margin: 1.8rem 4.2rem 0;
    }
}
